# Consistency checks

## 1. Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## 2. Creating path for folder

In [15]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement 6/Analysis'

## 3. Importing File

In [18]:
insurance = pd.read_csv(os.path.join (path, 'Original Data', 'insurance.csv'), index_col = False)

In [22]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [24]:
insurance.shape

(1338, 7)

In [30]:
insurance.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

## 4. Missing Values?

In [33]:
insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

## 5. Mixed data types?

In [40]:
#check for mixed type

for col in insurance.columns.tolist():
  weird = (insurance[[col]].map(type) != insurance[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (insurance[weird]) > 0:
    print (col)

In [42]:
# no mixed data type

## 6. Duplicates?

In [45]:
insurance_dups = insurance[insurance.duplicated()]

In [49]:
insurance_dups.head()

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [51]:
# dropping duplicate entry

insurance_cleaned = insurance.drop_duplicates()

In [53]:
insurance_cleaned.shape

(1337, 7)

## 7. Exporting Clean file

In [56]:
insurance_cleaned.to_csv(os.path.join(path, 'Prepared Data', 'insurance_cleaned.csv'))