# Exploratory Analysis

## 1. Importing libraries

In [3]:
import pandas as pd
import numpy as np
import os

## 2. Creating path for folder

In [6]:
path = r'/Users/ceciliamoura/Desktop/Career Foundry/Achievement 6/Analysis'

## 3. Importing File

In [8]:
insurance = pd.read_csv(os.path.join (path, 'Prepared Data', 'insurance_cleaned.csv'), index_col = False)

In [10]:
insurance.head()

   Unnamed: 0  age     sex     bmi  children smoker     region      charges
0           0   19  female  27.900         0    yes  southwest  16884.92400
1           1   18    male  33.770         1     no  southeast   1725.55230
2           2   28    male  33.000         3     no  southeast   4449.46200
3           3   33    male  22.705         0     no  northwest  21984.47061
4           4   32    male  28.880         0     no  northwest   3866.85520

In [24]:
for col in insurance.columns:
    print(col)

Unnamed: 0
age
sex
bmi
children
smoker
region
charges

In [40]:
insurance =  insurance.drop(columns=['Unnamed: 0'])

In [42]:
insurance.shape

(1337, 7)

In [44]:
insurance.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [62]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.2+ KB

In [46]:
insurance.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

In [48]:
insurance['age'].median()

39.0

In [50]:
insurance['bmi'].median()

30.4

In [52]:
insurance['children'].median()

1.0

In [54]:
insurance['charges'].median()

9386.1613